Repository admirerr/DSA-Collection, pull requests merged in 2025-10, with the labels that each got.

#1 updated repo configs
  README.md
  docs/_config.yml
  docs/hall-of-fame.md
  docs/index.md
Labels: documentation, hacktoberfest, medium, hacktoberfest-accepted, needs-work, first-time-contributor

#3 feat(strings): added string matching using kmp in java
  .github/workflows/pr-validation.yml
  CPP/strings/kmp_string_matching.cpp
  Java/graphs/DijkstraAlgorithm.java
  Java/graphs/FloydWarshall.java
  Java/strings/KnuthMorrisPratt.java
Labels: good first issue, hacktoberfest, medium, hacktoberfest-accepted, needs-work, first-time-contributor, strings, lang:cpp, lang:java, easy, c++, java, tests-passing, graphs

#6 Added house_robber.cpp
  CPP/dynamic-programming/house_robber.cpp
Labels: good first issue, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#4 feat(strings): added boyer moore in java
  Java/graphs/BellmanFord.java
  Java/strings/BoyerMoore.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, strings, lang:java, easy, java, tests-passing, graphs

#10 Added Prim's Algorithm for Minimum Spanning Tree in C++ in CPP/graph
  CPP/graph/prims_algorithm.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#15 radix_sort.py is added
  Python/sorting/radix_sort.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#20 Added Chinese Remainder Theorem
  Java/maths/ChineseRemainderTheorem.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#23 Added sorting folder in java section
  Java/sorting/BubbleSort.java
  Java/sorting/InsertionSort.java
  Java/sorting/SelectionSort.java
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#29 Update heap_sort.py
  Python/sorting/heap_sort.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#46 added MergeSort and QuickSort for the java
  Java/sorting/MergeSort.java
  Java/sorting/QuickSort.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#47 Add JavaScript dir
  JavaScript/graphs/BellmanFord.js
  JavaScript/searching/binary_search.js
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, javascript

#45 Implement space optimized Frog Jump solution
  CPP/dynamic-programming/Frog_Jump.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#53 Add jump search algorithm implementation
  Python/searching/jump_search.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#58 Create dijkstra_algorithm.cpp
  CPP/graph/dijkstra_algorithm.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#63 Implement binary search algorithm in C++
  CPP/searching/binarySearch.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#65 added code for bubble sort implementation
  CPP/sorting/bubble_sort.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#74 Added Linear Search algorithm in C++ under CPP/searching/
  CPP/searching/linear_search.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#73 added code for count-number-of-substrings
  CPP/strings/count-number-of-substrings.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#72 count subset in cpp
  CPP/dynamic-programming/count_subset.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#57 Add ternary search function with example usage
  Python/searching/ternary_search.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#48 Implement Fibonacci search algorithm
  CPP/dynamic-programming/egg_dropping_problem.cpp
  Python/searching/fibonacci_search.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing, python

#40 Implement subset sum problem using dynamic programming
  CPP/dynamic-programming/count_subsets_with_sum_k.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#37 Create insertionSort.py
  Python/sorting/insertionSort.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#24 Add nqueens
  Java/backtracking/NQueens.java
  Java/strings/Anagrams.java
  Java/strings/Pangram.java
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#42 Implement distinct subsequences function in C++
  CPP/dynamic-programming/Distinct_Subsequences.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#41 Create pigeonhole_sort.py
  Python/sorting/pigeonhole_sort.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#78 Implement Sudoku solver using backtracking recursion
  Python/Recursion/sudoku_solver.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#38 Create cycleSort.py
  Python/sorting/cycleSort.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#43 Implement edit distance algorithm with optimization
  CPP/dynamic-programming/Edit_distance.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#84 Create Coure_Schedule.cpp (Topological sort)
  CPP/graph/Coure_Schedule.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#86 Add Quick Sort implementation in JavaScript
  JavaScript/sorting/QuickSort.js
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, javascript

#87 Implement Radix Sort, Heap sort Algorithm in cpp and Pancake sort in python
  CPP/sorting/heapSort.cpp
  CPP/sorting/radixSort.cpp
  Python/sorting/pancake_sort.py
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing, python

#88 Implement delete node function in doubly linked list
  CPP/linked-list/delete-node-in-doubly-linked-list.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#90 counting_sort.cpp added
  CPP/dynamic-programming/knapsack_problem.cpp
  CPP/sorting/counting_sort.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#92 Implement circular linked list with insertion methods
  CPP/linked-list/circular_linked_list_insertion.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#94 Added Number_of_Island.cpp
  CPP/dynamic-programming/Number_of_Island.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#96 Added Cherry_Pickup.cpp
  CPP/dynamic-programming/Cherry_Pickup.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#56 Create jump_search.py
  Python/searching/exponential_search.py
  Python/searching/jump_search.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, needs-work, first-time-contributor, tests-passing, python

#97 Implement Longest Common Subsequence using DP in Python
  Python/Dynamic-Programming/longest_common_substring.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#101 Merge Binary Search Tree (C++ implementation) into CPP folder
  CPP/BinarySearchTree/BST.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#103 Added Substring Matching Pattern.cpp
  CPP/strings/Substring_Matching_Pattern.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, needs-work, first-time-contributor, c++, tests-passing

#104 Added a c++ program to reverse words in a string
  CPP/strings/Reverse_words_in_string.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#105 Add Tree Traversal algorithm of Binary Tree - cpp
  CPP/tree-algorithm/inorder_traversal.cpp
  CPP/tree-algorithm/levelorder_traversal.cpp
  CPP/tree-algorithm/postorder_traversal.cpp
  CPP/tree-algorithm/preorder_traversal.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#106 Added a C++ program to check if two strings are anagram
  CPP/strings/Check_for_anagram.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#108 feat(js): Implement Sudoku Solver with Backtracking
  JavaScript/backtracking/SudokuSolver.js
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, javascript

#115 Added a C++ program to check if a number is prime or not
  CPP/Basics/Prime_number.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#117 added remove nth node from the back of a linked list code (Cpp)
  CPP/linked-list/remove-nth-node-from-back.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#118 added merge two sorted linked lists code (Cpp)
  CPP/linked-list/merge-2-sorted-LLs.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#122 Binary tree Search methods (Postorder Inorder and Preorder) for Java and Python
  Java/binary-tree/InorderTraversal.java
  Java/binary-tree/PostorderTraversal.java
  Java/binary-tree/PreorderTraversal.java
  Python/binary-tree/InorderTraversal.py
  Python/binary-tree/PostorderTraversal.py
  Python/binary-tree/preorderTraversal.py
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing, python, advanced

#124 Added Time to Burn Binary Tree implementation in C++ under CPP/tree/
  CPP/tree/binary_tree.exe
  CPP/tree/time_to_burn_binary_tree.cpp
  CPP/tree/time_to_burn_binary_tree.exe
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#123 Added Predict_the_Winner.cpp
  CPP/dynamic-programming/Predict_the_Winner.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#125 feat: added butterfly pattern
  CPP/Basics/recursion_reversearray.cpp
  CPP/pattern/butterfly_pattern.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#132 Added Split_Linked_List_into_Parts.cpp
  CPP/linked-list/Split_Linked_List_into_Parts.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#133 Create Disjoint_set.cpp
  CPP/graph/Disjoint_set.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#134 Added Flatten Binary Tree algorithm in C++ under CPP/tree/
  CPP/tree/flatten_binary_tree.cpp
  CPP/tree/flatten_binary_tree.exe
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#136 feat: added subsequence sum problem in cpp/basics folder
  CPP/Basics/recursion_subsequence.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#135 Create HCF_using_Euclidean_algorithm.cpp
  CPP/Basics/HCF_using_Euclidean_algorithm.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#140 PR : DP problem Fibonacci Sequence in Java
  Java/dynamic-programming/FibonacciSequence.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#146 Added kruskals_algorithm.cpp (C++ solution using DSU and Greedy Approach)
  CPP/graph/kruskals_algorithm.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#144 Created Alien Dictionary
  CPP/graph/Alien Dictionary
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, needs-work, first-time-contributor

#142 Added Solution for Maze Solver in Python
  Python/backtracking/maze_solver.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#152 PR : Dynamic Programming Knapsack Problem in Java
  Java/dynamic-programming/KnapsackProblem.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#159 Add optimized DSU data structure for efficient graph problem solving
  Java/graphs/DisjointUnionSet.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#161 feat: added hollow butterfly pattern
  CPP/pattern/hollow_butterfly_pattern.cpp
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing

#163 Add Dijkstra Algorithm in Python
  Python/graphs/dijkstra_algorithm.py
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#162 feat(Python): Add Fenwick Tree (Binary Indexed Tree) for range sum & point updates (Python)
  Python/data_structures/README.md
  Python/data_structures/fenwick_tree.py
  Python/data_structures/test_fenwick_tree.py
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, tests-passing, python

#164 Added Rat in a Maze Problem in Java
  Java/backtracking/RatInAMaze.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#165 Kadane algorithm
  Java/arrays/KadaneAlgorithm.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#166 Added Euler Pseudoprime Problem in Java
  Java/maths/EulerPseudoprime.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#167 Added Longest Alternating Subsequence problem in Java
  Java/dynamic-programming/LongestAlternatingSubsequence.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#168 Added Pascal Triangle problem in Java
  Java/maths/PascalTriangle.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#169 Added GCD Recursion problem in Java
  Java/maths/GCDRecursion.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#170 Added HeapSort in Java
  Java/sorting/HeapSort.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#171 Added Valid Parentheses problem in Java
  Java/strings/ValidParentheses.java
Labels: good first issue, hacktoberfest, hacktoberfest-accepted, first-time-contributor, java, tests-passing

#172 Added multiple array dsa programmes
  CPP/Array/firstandlastpositionofelement.cpp
  CPP/Array/nextpermutation.cpp
  CPP/Array/removeduplicatefromsortedarray.cpp
  CPP/Array/removeelement.cpp
  CPP/Array/twosum.cpp
Labels: hacktoberfest, hacktoberfest-accepted, first-time-contributor, c++, tests-passing
